network:
  version: 2
  ethernets:
    eth0:
      nameservers:
        addresses: [{{server_private_ip}},8.8.8.8]
      routes:
        - to: {{aws_subnet_cidr}}
          via: {{router_private_ip}}
          on-link: true
